$primary-color: #272727;
$secondary-color: #ff652f;
$show-home-image: true;
$home-image: url(../images/background.jpg);
$background-opacity: 0.7;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin backgroung-img {
  @if ($show-home-image) {
    &#bg-img {
      background: $home-image;
      background-size: cover;
      background-position: center;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($primary-color, $background-opacity);
        z-index: -1;
      }
    }
  }
}

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 760px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 761px) and (max-width: 1170) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
