// for extra large screen
@include mediaXl {
}

// for laptops and desktop
@include mediaLg {
}

// for ipad and tablet
@include mediaMd {
  main {
    text-align: center;
    align-items: center;

    &#home h1 {
      line-height: 1;
      margin-bottom: 1.5rem;
      font-size: 4.5rem;
    }
  }

  .menu-nav {
    grid-template-columns: 1fr;
    &.open {
      transform: translate3d(0, 0, 0);
    }

    .branding {
      height: 25vh;
      transform: translate3d(-100%, 0, 0);
      &.open {
        transform: translate3d(0, 0, 0);
      }

      .portrait {
        background: url("../images/portrait_small.jpg");
        width: 150px;
        height: 150px;
      }
    }

    .nav-list {
      height: 75vh;
      transform: translate3d(100%, 0, 0);
      &.open {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

// for for smartphones
@include mediaSm {
  #home {
    .lg-heading {
      font-size: 4rem;
    }
    .md-heading {
      font-size: 1.5rem;
    }
  }
}
