// for extra large screen
@include mediaXl {
  .project-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

// for laptops and desktop
@include mediaLg {
  .project-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

// for ipad and tablet
@include mediaMd {
  h1,
  h2,
  h3 {
    &.lg-heading {
      font-size: 3.5rem;
    }
    &.md-heading {
      font-size: 2rem;
    }
  }
  .nav-link {
    font-size: 1.6rem;
  }
  main {
    text-align: center;
    align-items: center;

    &#home h1 {
      line-height: 1;
      margin-bottom: 1.5rem;
    }
  }

  .menu-nav {
    grid-template-columns: 1fr;
    &.open {
      transform: translate3d(0, 0, 0);
    }

    .branding {
      height: 25vh;
      transform: translate3d(-100%, 0, 0);
      &.open {
        transform: translate3d(0, 0, 0);
      }

      .portrait {
        background: url("../images/portrait_small.png");
        width: 150px;
        height: 150px;
      }
    }

    .nav-list {
      height: 75vh;
      transform: translate3d(100%, 0, 0);
      &.open {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  .about-info {
    grid-template-areas:
      "aboutImg"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }

  .project-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

// for for smartphones
@include mediaSm {
  main {
    width: 98vw;
    padding: 3rem auto;
    overflow-x: hidden;
  }
  h1,
  h2,
  h3 {
    &.lg-heading {
      font-size: 2.5rem;
    }
    &.md-heading {
      font-size: 1.5rem;
    }
  }
  .medium-text {
    font-size: 1.2rem;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .project-gallery {
    grid-template-columns: 1fr;
  }
}
