@import "config";
@import "menu";
@import "botton";

body {
  @include backgroung-img;
  width: 100vw;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  color: set-text-color($primary-color);
  background: $primary-color;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  padding-top: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
  &.lg-heading {
    font-size: 5rem;
  }

  &.md-heading {
    font-size: 2rem;
    padding: 0.5rem;
    background: rgba($primary-color, 0.2);
    margin-bottom: 1.5rem;
  }
}

.medium-text {
  font-size: 1.4rem;
  font-weight: 300;
}

.text-secondary {
  color: $secondary-color;
}

header {
  width: 100vw;
  position: fixed;
  z-index: 2;
}

main {
  width: 95vw;
  min-height: calc(100vh - 60px);
  padding: 4rem auto 2rem auto;

  & .icons {
    margin-top: 1rem;

    & a {
      padding-right: 0.5rem;
      color: set-text-color($primary-color);
      @include transition-ease;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &#home {
    height: 100vh;
    overflow: hidden;
    h1 {
      padding-top: 20vh;
    }
  }
}

// about page styling
.about-info {
  display: grid;
  gap: 2rem;

  grid-template-areas:
    "aboutImg bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  li {
    list-style-type: none;
    line-height: 1.4;
    text-align: left;
    &::before {
      content: "\2022";
      color: $secondary-color;
      font-size: 1.5rem;
      margin-left: -1rem;
      display: inline-block;
      padding-right: 0.5rem;
    }
  }

  .about-img {
    grid-area: aboutImg;
    border: 3px solid $secondary-color;
    border-radius: 50%;
    margin: 0 auto;
    width: 200px;
    height: 200px;

    &.img {
      width: 100%;
    }
  }

  .about-bio {
    grid-area: bio;

    & .bio {
      font-size: 2rem;
      font-weight: 500;
      text-shadow: 2px 2px 5px $primary-color;
      margin-top: 1.5rem;
      padding-bottom: 0.5rem;
    }
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }
  .jobs {
    padding: 2rem;
    background: lighten($primary-color, 10);
    box-shadow: 5px 5px 15px $primary-color;
    border-bottom: 5px solid $secondary-color;
  }
}

//project page styling
.project-gallery {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  img {
    width: 100%;
    border: 3px solid #fff;
    @include transition-ease;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
    }
  }
}

// Contact page styling
.contact-boxes {
  display: flex;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 2rem;

  .box {
    font-size: 1.5rem;
    border: 3px solid #fff;
    padding: 1rem auto;
    margin-bottom: 2rem;
    color: set-text-color($primary-color);
    @include transition-ease;

    &:hover {
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

footer {
  background: darken($primary-color, 5);
  text-align: center;
  padding: 1rem;
  height: 60px;
}

@import "responsive";
